# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for more information:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates
# https://containers.dev/guide/dependabot

version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
      time: 09:30
      timezone: Europe/Zurich
    groups:
      actions-minor:
        update-types:
          - minor
          - patch

  - package-ecosystem: devcontainers
    directory: /
    schedule:
      interval: weekly
      time: 09:30
      timezone: Europe/Zurich

  - package-ecosystem: npm
    directory: /
    schedule:
      interval: weekly
      time: 09:30
      timezone: Europe/Zurich
    groups:
      npm-development:
        dependency-type: development
        update-types:
          - minor
          - patch
      npm-production:
        dependency-type: production
        update-types:
          - patch
